<div class="pos-a w100 deep-purple darken-2 z-depth-2">
    <div class="container">
        <div class="menu">
            <div class="menu-icon icon-th-menu open-menu-left" data-menu=".menu-left"></div>
            <div class="logo">Torrent<span class="hub">Hive</span></div>
            <div class="item-menu menu-movil">
                <li><a href="/">Inicio</a></li>
                <li><a href="/downloads">Descargas</a></li>
                <!-- <li><a href="/cog">Configuracion</a></li> -->
                <li><a href="/alert">Alertas <span class="badge-alert"></span></a></li>
            </div>
        </div>
    </div>
</div>

<div class="menu-left">
    <div class="body-menu grey lighten-5 z-depth-2">
        <div class="menu-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/downloads">Descargas</a></li>
            <!-- <li><a href="/cog">Configuracion</a></li> -->
            <li><a href="/alert">Alertas</a></li>
        </div>
    </div>
</div>