<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Downloads - TorrentHive</title>

  <!-- Iconos -->
  <link rel="stylesheet" href="/lib/icomoon/icomoon.css">

  <!-- Roboto -->
  <link rel="stylesheet" href="/lib/roboto/roboto.css">

  <!-- Materializecss -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">

  <!-- Main Css -->
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="loading-page">
    <div class="loading-info">
      <!-- <h3 class="logo-text">TorrentHive</h3> -->
      <div class="logo-holder logo-6">
        <a href="#">
          <h3>Torrent <span>Hive</span></h3>
        </a>
      </div>

      <div class="active-loading preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Menu -->
  <%- include('../include/menu.ejs') %>
    <!-- end -->
    <div class="body">
      <div class="container">
        <div class="downloads-list">
          <% for( let a=0; a < 0; a++ ) { %>
            <div class="torrent-download-container z-depth-1">
              <div class="name-download-torrent">Ratchet and Clank Rift Apart</div>
              <div class="magnet-download-torrent">
                magnet:?xt=urn:btih:0ae23bb545d94133f92f96ada1451fd76bd25441&dn=Ratchet+and+Clank+Rift+Apart+www.gamesfull.app&tr=udp://shubt.net:2710&tr=http://retracker.local/announce&tr=http://tracker.filetracker.pl:8089/announce&tr=http://tracker2.wasabii.com.tw:6969/announce&tr=http://tracker.grepler.com:6969/announce&tr=http://tracker.tiny-vps.com:6969/announce&tr=udp://46.148.18.250:2710&tr=http://tracker.dler.org:6969/announce&tr=udp://[2001:67c:28f8:92::1111:1]:2710&tr=udp://ipv6.leechers-paradise.org:6969&tr=http://9.rarbg.com:2710/announce&tr=http://explodie.org:6969/announce&tr=http://mgtracker.org:2710/announce&tr=http://tracker.tfile.me/announce&tr=http://tracker.torrenty.org:6969/announce&tr=http://tracker.trackerfix.com/announce&tr=http://www.mvgroup.org:2710/announce&tr=udp://9.rarbg.com:2710/announce&tr=udp://9.rarbg.me:2710/announce&tr=udp://9.rarbg.to:2710/announce&tr=udp://coppersurfer.tk:6969/announce&tr=udp://exodus.desync.com:6969/announce&tr=udp://glotorrents.pw:6969/announce&tr=udp://open.demonii.com:1337/announce&tr=udp://tracker.coppersurfer.tk:6969/announce&tr=udp://tracker.glotorrents.com:6969/announce&tr=udp://tracker.leechers-paradise.org:6969/announce&tr=udp://tracker.openbittorrent.com:80/announce&tr=udp://tracker.opentrackr.org:1337/announce&tr=udp://tracker.publicbt.com:80/announce&tr=udp://tracker4.piratux.com:6969/announce&tr=udp://public.popcorn-tracker.org:6969/announce&tr=http://182.176.139.129:6969/announce&tr=http://91.218.230.81:6969/announce&tr=udp://tracker.ilibr.org:80/announce&tr=http://p4p.arenabg.ch:1337/announce&tr=http://pow7.com:80/announce&tr=http://retracker.krs-ix.ru:80/announce&tr=http://secure.pow7.com/announce&tr=http://t1.pow7.com/announce&tr=http://t2.pow7.com/announce&tr=http://thetracker.org:80/announce&tr=http://torrentsmd.com:8080/announce&tr=http://tracker.bittor.pw:1337/announce&tr=http://tracker.dutchtracking.com:80/announce&tr=http://tracker.dutchtracking.nl:80/announce&tr=http://tracker.edoardocolombo.eu:6969/announce&tr=http://tracker.ex.ua:80/announce&tr=http://tracker.kicks-ass.net:80/announce&tr=http://tracker1.wasabii.com.tw:6969/announce&tr=http://tracker2.itzmx.com:6961/announce&tr=http://www.wareztorrent.com:80/announce&tr=udp://62.138.0.158:6969/announce&tr=udp://eddie4.nl:6969/announce&tr=udp://explodie.org:6969/announce&tr=udp://shadowshq.eddie4.nl:6969/announce&tr=udp://shadowshq.yi.org:6969/announce&tr=udp://tracker.eddie4.nl:6969/announce&tr=udp://tracker.mg64.net:2710/announce&tr=udp://tracker.sktorrent.net:6969&tr=udp://tracker2.indowebster.com:6969/announce&tr=http://tracker.dutchtracking.com/announce&tr=http://tracker.mg64.net:6881/announce&tr=udp://bt.xxx-tracker.com:2710/announce&tr=udp://tracker.mg64.net:6969/announce&tr=http://tracker.opentrackr.org:1337/announce&tr=udp://zer0day.ch:1337/announce&tr=udp://zer0day.to:1337/announce&tr=udp://9.rarbg.me:2780/announce&tr=udp://9.rarbg.to:2730/announce&tr=udp://p4p.arenabg.com:1337/announce&tr=udp://tracker.sktorrent.net:6969/announce&tr=http://p4p.arenabg.com:1337/announce&tr=udp://tracker.aletorrenty.pl:2710/announce&tr=http://tracker.aletorrenty.pl:2710/announce&tr=http://tracker.bittorrent.am/announce&tr=udp://tracker.kicks-ass.net:80/announce&tr=http://tracker.kicks-ass.net/announce&tr=http://tracker.baravik.org:6970/announce&tr=udp://torrent.gresille.org:80/announce&tr=http://torrent.gresille.org/announce&tr=http://tracker.skyts.net:6969/announce&tr=http://tracker.internetwarriors.net:1337/announce&tr=udp://tracker.skyts.net:6969/announce&tr=http://tracker.dutchtracking.nl/announce&tr=udp://tracker.yoshi210.com:6969/announce&tr=udp://tracker.tiny-vps.com:6969/announce&tr=udp://tracker.internetwarriors.net:1337/announce&tr=http://tracker.yoshi210.com:6969/announce&tr=udp://tracker.filetracker.pl:8089/announce&tr=udp://tracker.ex.ua:80/announce&tr=udp://91.218.230.81:6969/announce&tr=https://www.wareztorrent.com/announce&tr=http://www.wareztorrent.com/announce&tr=http://tracker.ex.ua/announce&tr=http://tracker.calculate.ru:6969/announce&tr=udp://tracker.grepler.com:6969/announce&tr=udp://tracker.flashtorrents.org:6969/announce&tr=udp://tracker.bittor.pw:1337/announce&tr=http://tracker.tvunderground.org.ru:3218/announce&tr=http://tracker.flashtorrents.org:6969/announce&tr=http://retracker.gorcomnet.ru/announce&tr=udp://tracker.kuroy.me:5944/announce&tr=udp://182.176.139.129:6969/announce&tr=http://tracker.kuroy.me:5944/announce&tr=http://retracker.krs-ix.ru/announce&tr=udp://open.stealth.si:80/announce&tr=udp://208.67.16.113:8000/announce&tr=udp://213.163.67.56:1337/announce&tr=http://173.254.204.71:1096/announce&tr=udp://195.123.209.40:80/announce&tr=udp://62.212.85.66:2710/announce&tr=udp://tracker.piratepublic.com:1337/announce
              </div>

              <div class="progress-download">
                <div class="progress m0 blue-grey lighten-5">
                  <div class="determinate purple" style="width: 70%"></div>
                </div>
              </div>
              <div class="info-download-torrent">
                <span class="icon-arrow-down-thick"></span>
                <span>2 mb/s</span>
                <span class="sprt-gui">|</span>
                <span>4 GB/10 GB</span>
              </div>

              <div class="btn-download-torrent">
                <button class="waves-effect waves-light btn-small purple">Cancelar</button>
                <button class="waves-effect waves-light btn-small purple">Pausar</button>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </div>

    <!-- jquery -->
    <script src="/lib/jQuery/jquery.min.js"></script>
    <!-- materialize -->
    <script src="/lib/materialize/js/materialize.min.js"></script>
    <script src="/lib/materialize/js/init.js"></script>

    <!-- pagination -->
    <script src="/js/pagination.materialize.js"></script>

    <!-- Kit -->
    <script src="/js/code.util.kit.js"></script>
    <!-- Main -->
    <script src="/js/main.js"></script>
</body>

</html>